<section class="relative w-full mt-5">
  <div class="relative h-[85vh] mx-4 md:mx-10 rounded-3xl overflow-hidden">
    
    <!-- Background Image -->
    <img src="<%= asset_path('Volunteers.jpg') %>" alt="Cover Image" 
      class="absolute inset-0 w-full h-full object-cover object-center z-[-10]" />

    <!-- Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900 z-[-5]"></div>

    <!-- Semi-transparent Overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-50 z-[-5]"></div>

    <!-- Content -->
    <div class="relative z-10 flex flex-col justify-center items-start h-full w-full p-6 sm:p-10 md:p-16 text-white">
    
      
      <p class="text-3xl md:text-5xl font-medium mb-6 max-w-3xl">
        Welcome to Volunteer Match! 
      </p>
      <p class="mb-5 text_lg">
      Connect with meaningful opportunities and make a difference today.
      </p>
      <%= link_to opportunities_path, class: "inline-block py-3 px-8 bg-blue-600 text-white rounded-full text-sm font-semibold border-2 border-white hover:scale-105 transition-transform duration-300 ease-in-out" do %>
        Explore Opportunities
      <% end %>
    </div>

  </div>
</section>
<div class="relative inset-0 w-full h-full object-cover object-center z-[-10]" >
<%= render 'home/features' %>
<%= render  partial: 'home/testimonials' %>

</div>