<section class="relative inline-block w-full mt-5">
 

  <div class="flex flex-col items-start justify-end mx-10 relative h-[85vh]">
    <div class="absolute top-0 left-0 bottom-0 right-0 w-full bg-gradient-to-b from-transparent from-0% to-dark rounded-3xl z-0"></div>
  <div class="rounded-3xl absolute inset-0 bg-black bg-opacity-50"></div>

  <img src="<%= asset_path('cover.jpg') %>" alt="CodeBuck" 
      class="w-full h-full object-cover object-center rounded-3xl -z-10"/>
    <div class="absolute  w-3/4 p-16 flex flex-col items-start justify-center z-0 text-light">
<<button  class="inline-block py-3 px-10 bg-red-600 text-white rounded-full capitalize font-semibold border-2 border-solid border-light hover:scale-105 transition-all ease duration-200">
  opportunities
</button>>
        <h1 class="font-bold capitalize text-4xl bg-gradient-to-r from-red-600 to-accent bg-[length:0px_6px] hover:bg-[length:100%_6px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 ">
          <span class=" text-white bg-gradient-to-r from-accent to-accent bg-[length:0px_6px] hover:bg-[length:100%_6px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500">
            Hello Volunteers
          </span>
        </h1>

      <p class="text-xl font-in inline-block text-white">
       Processing by HomeController#index as HTML
  Rendering layout layouts/application.html.erb
  Rendering home/index.html.erb within layouts/application
  Rendered home/index.html.erb within layouts/application (Duration: 5.5ms | GC: 0.0ms)
  Rendered shared/_navbar.html.erb (Duration: 5.6ms | GC: 0.0ms)
  Rendered layout layouts/application.html.erb (Duration: 57.9ms | GC: 0.4ms)
      </p>
    </div>

  </div>
</section>
