<div class="bg-white flex flex-col items-center justify-center h-[90dvh] px-4 py-10">
  <div class="max-w-2xl w-full text-center space-y-6">
    <h1 class="text-3xl md:text-4xl font-bold text-gray-800">
      Organizer Dashboard
    </h1>

    <% if current_user %>
      <p class="text-gray-600 text-base md:text-lg">
        Hello, <span class="font-semibold text-gray-800"><%= current_user.email %></span>!<br>
        You are logged in as an <span class="font-medium text-green-600"><%= current_user.role.capitalize %></span>.
      </p>


  
    <% else %>
      <p class="text-gray-600 text-base md:text-lg">
        Organize impactful events and connect with volunteers.
      </p>

      <div class="mt-6 flex flex-col sm:flex-row sm:justify-center gap-4">
        <%= link_to "Sign In", new_user_session_path,
            class: "px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition" %>
        <%= link_to "Sign Up", new_user_registration_path,
            class: "px-6 py-3 border border-blue-600 text-blue-600 rounded-lg hover:bg-blue-50 transition" %>
      </div>
    <% end %>
  </div>
</div>
